### Fetching the data for all the stocks of the Metal Sector

In [1]:
import numpy
print(numpy.__version__)

1.22.3

In [2]:
# Load libraries
import pandas as pd
import pandas_datareader as dr

In [3]:
print(pd.__version__)

1.4.2

In [4]:
tickers = ['TITAN.NS', 'HAVELLS.NS', 'VOLTAS.NS', 'CROMPTON.NS', 
         'BATAINDIA.NS', 'KAJARIACER.NS', 'RAJESHEXPO.NS', 'RELAXO.NS', 'BLUESTARCO.NS']

In [5]:
from yahoofinancials import YahooFinancials

In [6]:
yahoo_financials = YahooFinancials(tickers)

In [7]:
data = yahoo_financials.get_historical_price_data(start_date='2021-01-01', 
                                                  end_date='2022-07-01', 
                                                  time_interval='daily')

In [8]:
prices_df = pd.DataFrame({
    a: {x['formatted_date']: x['close'] for x in data[a]['prices']} for a in tickers})

In [9]:
prices_df.head()

,TITAN.NS,HAVELLS.NS,VOLTAS.NS,CROMPTON.NS,BATAINDIA.NS,KAJARIACER.NS,RAJESHEXPO.NS,RELAXO.NS,BLUESTARCO.NS
2021-01-01,1558.599976,909.900024,831.450012,378.049988,1573.900024,709.349976,485.049988,828.349976,806.650024
2021-01-04,1550.900024,918.799988,846.000000,373.700012,1594.849976,708.250000,484.000000,837.150024,807.450012
2021-01-05,1570.949951,935.700012,837.349976,377.350006,1608.199951,709.500000,484.100006,893.900024,817.250000
2021-01-06,1572.599976,945.900024,869.299988,383.899994,1658.300049,710.750000,479.049988,898.849976,807.950012
2021-01-07,1542.349976,971.250000,881.500000,395.049988,1640.849976,723.549988,482.250000,879.549988,798.000000

In [10]:
prices_df.to_csv('consumer_durable.csv')